html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
	outline: none;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

input, textarea, button{
    border:none;
}

.z_body{
    width:100%;
    max-width: 414px;
    margin:0 auto;
}

.pop{
    width: 100%;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.pop .pop-content,.pop .pop-close{
    position: absolute;
    top:50%;
    left:50%;
    z-index:9;
}
.pop .pop-content{
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 250px;
    height: 270px;
    background: url("../images/detail_bg.png") no-repeat center;
    background-size: 100%;
    border-radius: 10px;
    text-align: center;
}
.pop .pop-content .wrong{
    margin:20px 0;
}
.pop .pop-content h5{
    font-size: 14px;
    color: rgb(51,51,51);
}
.pop .pop-content p{
    margin:20px 0;
    font-size: 12px;
    color: rgb(102,102,102);
    line-height:1.5;
}
.pop .pop-content a{
    display: inline-block;
    width: 103px;
    height: 32px;
    line-height:32px;
    font-size: 14px;
    color: #fff;
    background: rgb(250,174,68);
    border-radius: 16px;
    text-decoration: none;
}
.pop .pop-close{
    top:80%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,0);
}
.pop .pop-bg{
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
    background: rgba(0,0,0,0.4);
}
.pop .alert-content{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 270px;
    height: 122px;
    border-radius: 12px;
    background: rgba(252,252,252,0.9);
    z-index: 9;
    text-align: center;
}
.pop .alert-content p{
    width: 250px;
    height:48.5px;
    line-height:1.5;
    padding: 15px 10px;
    font-size: 16px;
}
.pop .alert-content .alert-close{
    display: inline-block;
    width: 100%;
    height: 43.5px;
    line-height:43.5px;
    font-size: 17px;
    color: rgb(0,118,255);
    text-decoration: none;
    border-top:1px solid rgba(77,77,77,0.1);
}

.toast{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
}